/* custom properties used for dark mode theme */
:root {
  --color-mode: "dark";
  --background1: #1c1c1c;
  --background2: #2c2c2c;
  --backgroundMenu: #2c2c2ccc;
  --menuActive: #3c3c3c;
  --menuHover: #4c4c4c6c;
  --menuLinkActive: #cccccc6c;
  --text: #ddd;
  --text2: #ddd;
  --TzGPurple: #ad00ff;
  --shadow: #c8c8c8cc;
  --shadowHeader: #00000080;
  --backgroundImg: url("./images/milky-way-2695569_1920.jpg");
  --toggleButtonColor: yellow;
  --toggleButtonBackground: skyblue;
}

/* switches to light mode based on users system settings */
@media (prefers-color-scheme: light) {
  :root {
    --color-mode: "light";
  }

  /* custom properties for light mode when set by system settings*/
  :root:not([data-user-color-scheme]) {
    --background2: #fefefe;
    --backgroundMenu: #fefefeb3;
    --background3: #4c4c4c;
    --text: #3c3c3c;
    --text2: white;
    --shadow: #00000080;
    --backgroundImg: url("./images/earth.jpeg");
    --menuHover: #cfcfcf;
    --menuActive: #b1b1b1;
    --toggleButtonColor: lightyellow;
    --toggleButtonBackground: darkblue;
  }
}

/* custom properties for light mode when set by the toggle */
/* if set by toggle buttom the setting is stored in local storage */
/* to remember the users preference even after refresh */
[data-user-color-scheme="light"] {
  --background2: #fefefe;
  --backgroundMenu: #fefefeb3;
  --background3: #4c4c4c;
  --text: #3c3c3c;
  --text2: white;
  --shadow: #00000080;
  --backgroundImg: url("./images/earth.jpeg");
  --menuHover: #cfcfcf;
  --menuActive: #b1b1b1;
  --toggleButtonColor: lightyellow;
  --toggleButtonBackground: darkblue;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
  }
}

body {
  background-color: var(--background1);
  display: flex;
  justify-content: center;
  font-family: Roboto;
  background: var(--backgroundImg);
  background-size: cover;
  background-position: center;
  font-size: 18pt;
  box-sizing: border-box;
  transition: all 500ms ease-in-out, color 200ms ease;
}

/* used to make the card looking area that holds the contents of the page */
.page {
  margin: 30px;
  height: 90vh;
  width: 100%;
  max-width: 1240px;
  border-radius: 18px;
  background: var(--background2);
  color: var(--text);
  box-shadow: 5px 5px 10px var(--shadow);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "sticky";
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  transition: all 500ms ease-in-out, color 200ms ease;
}

/* settings for the banner image at the top of the page */
.header {
  grid-area: header;
  background: url("./images/TzG-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow-y: hidden;
  z-index: 2;
  position: relative;
  box-shadow: 0 5px 10px var(--shadowHeader);
}

/* settings for the floating header that remains at the top of the page */
.header-sticky {
  grid-area: header / sticky;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: var(--TzGPurple);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  top: 0;
  position: sticky;
  z-index: 2;
  box-shadow: 0 5px 10px var(--shadowHeader);
}

/* title for the sticky banner */
.header-sticky-title {
  grid-area: header / sticky;
  margin-left: 80px;
  height: 50px;
  z-index: 2;
  position: sticky;
  top: 20px;
  margin-bottom: 0;
  margin-top: 0;
  color: #ddd;
}

/* button to open and close the menu on smaller screens */
.toggle-menu {
  grid-area: header / sticky;
  position: sticky;
  top: 20px;
  border: none;
  z-index: 4;
  margin: 20px;
  border-radius: 4px;
  padding: 5px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: var(--background2);
  padding: 5px;
  color: var(--text);
  box-shadow: 2px 2px 5px var(--shadow);
  transition: all 500ms ease-in-out, color 200ms ease;
}

.toggle-menu:hover {
  background-color: var(--menuHover);
  box-shadow: 4px 4px 7px rgba(200, 200, 200, 0.6);
  /* transform: scale(1.1); */
}

.toggle-menu:active {
  background-color: var(--menuActive);
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.6);
}

/* used to adjust position for page links so they don't load behind the sticky header */
.anchor {
  top: -90px;
  visibility: hidden;
  display: block;
  position: relative;
}

.menu {
  grid-area: header / sticky;
  display: none;
  z-index: 3;
  background-color: var(--backgroundMenu);
  backdrop-filter: blur(5px);
  color: var(--text);
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  position: sticky;
  box-shadow: 0px 4px 10px var(--shadow);
}

.menu-content {
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link {
  border-bottom: 1px solid var(--text);
  border-top: 1px solid var(--text);
  border-left: none;
  border-right: none;
  color: var(--text);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--background1);
  text-align: center;
  position: relative;
}

.menu-link:hover {
  background-color: var(--menuHover);
}

.menu-link:active {
  background-color: var(--menuLinkActive);
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

/* size and animation for the spinning logo */
.profile-image {
  max-width: 200px;
  float: right;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.player {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

/* styling for the player cards */
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 250px 20px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: justify;
  width: 300px;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
  transform-style: preserve-3d;
  transform: perspective(1000);
}

.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}

.card-text .number {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
}

.card-text h3 {
  margin-top: 0;
  font-size: 28px;
}

/* styling for the buttons used to collapse the player info sections */
.toggle-expand {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid var(--text);
  border-left: none;
  transition: all 0.5s ease-in-out;
}

/* used for the icons on the right of the buttons to collapse the player info sections */
.toggle-expand i {
  font-size: 30px;
  color: var(--text);
}

.toggle-expand:hover {
  background-color: var(--menuHover);
}

.card:hover {
  transform: scale(1.5);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/* rainbow animated box shadow for player cards */
.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -6px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px);
  animation: rgb 2s linear infinite;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* used to make cards float on alternating sides of the page-content area */
#card-1 {
  float: left;
  margin-right: 20px;
}

#card-2 {
  float: right;
  margin-left: 20px;
}

#card-3 {
  float: left;
  margin-right: 20px;
}

.section-break {
  display: block;
  height: 1px;
  width: 100vw;
  clear: both;
}

#zeroone .card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),
    url("./images/zeroone4004.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

#zerotwo .card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),
    url("./images/zerotwo4004.jpeg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
#zerothree .card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%),
    url("./images/zerothree4004.jpeg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.player-description {
  padding: 10px;
}

/* removes the default bullets */
ul {
  list-style-type: none;
}

/* padding to make space for new bullets */
li {
  padding-left: 20px;
}

/* replaced bullet with the controller icon */
ul li::marker {
  content: "\f11b";
  font-family: "FontAwesome";
  color: var(--text);
}

/* sets flex settings for contact icon */
.contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 120px);
}

/* styling for the contact icons */
.contact {
  filter: drop-shadow(0 0 10px var(--shadow));
  margin: 10px;
  height: 32px;
}

/* styling for the git hub link to make it look more like the others */
.github {
  background-color: #c8c8c8cc;
  filter: drop-shadow(0 0 10px var(--shadow));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
}

/* purple footer at the bottom of the page */
.footer {
  display: flex;
  flex-direction: row;
  z-index: 6;
  padding: 20px;
  height: 40px;
  background-color: var(--TzGPurple);
}

/* positions the toggle button for light/dark mode */
.button-position {
  position: absolute;
  height: fit-content;
  width: fit-content;
  bottom: 40px;
  left: 40px;
}

/* styling for the light/dark mode toggle button */
.toggle-button {
  position: absolute;
  position: sticky;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  font-size: 40px;
  display: flex;
  color: var(--toggleButtonColor);
  background-color: var(--toggleButtonBackground);
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  z-index: 7;
  box-shadow: 0 0 10px var(--shadow);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* resized header size to prevent it from taking up the whole screen on small devices */
  .page {
    grid-template-rows: 52vw auto;
  }

  .header {
    margin: 0;
    height: 52vw;
    background-position: left;
  }

  .header-sticky-title {
    height: 80px;
  }

  /* lowers the initial position of the menu button to prevent it from covering the banner on small screens */
  .toggle-menu {
    margin-top: 52vw;
    left: 0;
  }

  /* clears float to stop text from wrapping around logo */
  .profile-image {
    float: none;
  }

  .page-content {
    display: flex;
    flex-direction: column;

    padding-top: 0;
    height: 100%;
    margin: 0;
    padding: 20px;
    width: calc(100vw - 100px);
    justify-content: center;
    align-items: center;
  }

  .header-sticky-title {
    font-size: min(2em, 7vw);
  }

  .toggle-player {
    width: 100%;
  }

  .player {
    display: flex;
    flex-direction: column;
  }

  .games {
    display: flex;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    height: 52vw;
    max-height: none;
    background-position-x: center;
  }

  .page {
    grid-template-rows: 300px 1fr;
  }

  .page-content {
    margin: 0;
    padding: 20px;
    width: calc(100vw - 100px);
  }

  .player {
    flex-direction: column;
  }

  .header {
    background-size: cover;
    height: 300px;
    /* max-height: 300px; */
  }

  .game-frame {
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    max-height: 300px;
    overflow: hidden;
  }

  /* changes menu from a drawer that loads from the side to an app bar 
  that floats under the header */
  .menu {
    grid-area: sticky;
    display: flex;
    flex-direction: row;
    height: 75px;
    position: sticky;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }

  .menu-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 40px;
  }

  .menu-link {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
    margin: 0;
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
    height: 100%;
  }

  .header-sticky-title {
    margin-left: 30px;
  }

  .toggle-menu {
    display: none;
  }

  #fortnitePic {
    float: right;
    margin-left: 0;
    max-height: 300px;
    width: max-content;
  }

  #minecraftPic {
    float: left;
    margin-right: 0;
    max-height: 300px;
    width: max-content;
  }

  #destiny2Pic {
    float: right;
    margin-left: 0;
    max-height: 300px;
    width: max-content;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page {
    grid-template-rows: 300px 1fr;
  }

  .player {
    flex-direction: row;
  }

  .header {
    grid-area: header;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    grid-area: sticky;
    width: calc(80vw - 40px);
    margin: 0 0 0 16vw;
  }

  /* changes the menu into a sticky sidebar */
  .menu {
    flex-direction: column;
    height: 100%;
    width: calc(20vw - 40px);
    grid-area: sticky;
    justify-content: flex-start;
  }

  .menu-content {
    grid-area: sticky;
    flex-direction: column;
    position: sticky;
    padding-top: 230px;
    margin-top: -80px;
  }

  .menu-link {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--text);
    border-top: 1px solid var(--text);
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
  }

  .games {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* used to keep contents from expanding past the max size of the page div */
  .page-content {
    width: calc(0.8 * 1240px - 40px);
    margin-left: calc(0.2 * 1240px);
    padding-right: 20px;
  }

  .menu {
    width: calc(0.2 * 1240px);
  }
}
