body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  background: url('./images/milky-way-2695569_1920.jpg');
  background-size: cover;
  background-position: center;
}

.page {
  margin: 30px;
  height: 90vh;
  /* min-width: 1240px; */
  width: 100%;
  max-width: 1240px;
  border-radius: 18px;
  background: #2c2c2c;
  color: #ddd;
  box-shadow: 5px 5px 10px rgba(200, 200, 200, 0.8);
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 300px; */
  grid-template-areas: "header" "sticky";
  overflow: scroll;
  position: relative;
}

.header {
  grid-area: header;
  background: url("./images/TzG-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: 2;
  position: relative;
}

.header-sticky {
  grid-area: header / sticky;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: #ad00ff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  top: 0;
  position: sticky;
  z-index: 2;
}

.header-sticky-title {
  grid-area: header / sticky;
  margin-left: 80px;
  z-index: 2;
  position: sticky;
  top: 20px;
}

.toggle-menu {
  grid-area: header / sticky;
  position: sticky;
  top: 20px;
  border: none;
  z-index: 4;
  margin: 20px;
  border-radius: 4px;
  padding: 5px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #2c2c2c;
  padding: 5px;
  color: #ddd;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.8);
}

.toggle-menu:hover {
  background-color: #4c4c4c;
  box-shadow: 4px 4px 7px rgba(200, 200, 200, 0.6);
  /* transform: scale(1.1); */
}

.toggle-menu:active {
  background-color: #3c3c3c;
  box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.6);
}

#close{
  z-index: 5;
}

.menu {
  z-index: 3;
  background-color: #1c1c1c3c;
  backdrop-filter: blur(5px);
  color: #ddd;
  padding: 30px;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  position: absolute;
  box-shadow: 0px 4px 10px rgba(200, 200, 200, 0.8);
}

.menu-content {
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


  .header {
    height: 52vw;
  }

  .header-sticky-title {
  }

  .toggle-menu {
    grid-area: sticky;
  }

  .header-sticky-title {
    font-size: min(2em, 8vw);
    
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: red;

  }

  .header {
    background-size: cover;
    height: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: orange;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: yellow;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: green;
  }
}
