body{
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  font-family: Roboto;
}


.page{
  margin: 30px;
  padding: 20px;
  min-height: 90vh;
  /* min-width: 1240px; */
  width: 100%;
  max-width: 1240px;
  border-radius: 18px;
  background: #2c2c2c;
  color: #ddd;
  box-shadow: 5px 5px 10px rgba(200,200,200,0.8);
  display: grid;
  grid-template-areas: "image";
}

#toggle-menu{
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: transparent;
  padding: 5px;
  color: #ddd;
  box-shadow: 2px 2px 5px rgba(200,200,200,0.8);
}

#toggle-menu:hover{
  background-color: #4c4c4c;
  box-shadow: 4px 4px 7px rgba(200,200,200,0.6);
  /* transform: scale(1.1); */
}

#toggle-menu:active{
  background-color: #3c3c3c;
  box-shadow: 1px 1px 3px rgba(200,200,200,0.6);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    background-color: red;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    background-color: orange;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    background-color: yellow;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    background-color: green;
  }

}

